h3 {
    color: darkred;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: .8;
    font-size: 1em;
    border: solid darkred 1px;
    
}

body, html {
    height: 100%;
}

.bg {
    background-image: url(../images/downtownAustin.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    color: darkred;
    font-family: Roboto;
}

#mysteryWord {
    font-size: 10vh;
}

#lettersGuessed, #wins, #guessesLeft, #losses {
    font-family: Righteous;
    color: darkred;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    font-size: 4vh;
    opacity: .8;

}